.red { background-color: #F57575; }
.green { background-color: #75F580; }
a { text-decoration: none; }
table { border-collapse: collapse; }
a:link, a:visited {
    color: black;
}
td { padding: 5px; border: 1px solid black; }